<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>projet1-35</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
      .s {
        text-decoration: underline;
      }
      .i {
        font-style: italic;
      }
      .g {
        font-weight: bold;
      }
      li {
        list-style: none;
      }
    </style>
  </head>
  <!-- challenge objectif 
appliquer a un texte 3 classes conditionelles en fonction des checkboxes de style cochées
-->
  <body>
    <div id="app">
      <input type="checkbox" v-model="gras" />Gras
      <input type="checkbox" v-model="italique" />Italique
      <input type="checkbox" v-model="souligne" />Souligné
      <div :class="{g:gras, i:italique, s:souligne}">
        Un peu de texte dans le div
      </div>
    </div>

    <script>
      app = Vue.createApp({
        data() {
          return {
            gras: false,
            italique: false,
            souligne: false,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
