<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>projet1-38</title>
    <script src="https://unpkg.com/vue@next"></script>

  </head>
  <!-- challenge objectif afficher code HTML conditionnelement

  -->
  <body>
    <div id="app">
      Couleur
      <select v-model="couleur">
        <option value="black" selected>Noir</option>
        <option value="red">Rouge</option>
        <option value="blue">Bleu</option>
        <option value="cyan">Cyan</option>
      </select>
      Taille
      <select v-model="taille">
        <option value="16px" selected>16 px</option>
        <option value="25px">25 px</option>
        <option value="40px">40 px</option>
        <option value="60px">60 px</option>
      </select>
      <div :style="{color:couleur, fontSize: taille}">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis
        totam enim sunt quis, aperiam harum sit est illo sed porro facere magnam
        nam accusantium error fugiat facilis sequi. Tempore, magnam?
      </div>
    </div>

    <script>
      app = Vue.createApp({
        data() {
          return {
            couleur: 'black',
            taille: '16px'
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
