<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>projet1-29</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<!-- objectif 2 button radios simple click et double click
selon le button clické 
augmenter taille image en cliquant dessus avec element dynamique dans l'element evenementiel'
augmenter taille de 10% avec 1 click sur l'image quand 1er button est selectionné et avec doucleclick avec 2eme button coché-->
<body>
    <div id="app">
        <input type="radio" v-model="choix" value="click" checked ><label>click</label></input>
        <input type="radio" v-model="choix" value="dblclick"><label>dblclick</label></input>
        <p>
            <img 
                src="./img.jpg"
                v-bind:width="taille"
                @[choix]="modifierTaille"
            >
        </p>
    </div>
    <script>
        app= Vue.createApp({
            data() {
                return {
                    choix:'click',
                    taille:200
                }
            },
            methods: {
                modifierTaille() {
                    this.taille = this.taille * 1.1;
                }
                
            }
        });
        app.mount('#app');
    </script>
</body>
</html>